<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
    <style>
      body {
        text-align: center;
      }
      form {
        display: inline-block;
      }
      label {
        display: block;
        align-items: center;
        margin-top: 10px;
      }
      input {
        width: 100%;
        display: block;
      }
      #submit {
        margin-top: 10px;
      }
      #submit:hover {
        cursor: pointer;
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <form action="/" method="post">
      <h1>Enter Details</h1>
      <label>Name</label>
      <input type="text" name="name" placeholder="Enter your name" />
      <label>Age</label>
      <input type="text" name="age" placeholder="Enter your age" />
      <label>Standard</label>
      <input type="text" name="standard" placeholder="Enter your standard" />
      <label>Section</label>
      <input type="text" name="section" placeholder="Enter your section" />
      <input type="submit" id="submit" value="Submit" />
    </form>
  </body>
</html>
